.gallery {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.container-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.new-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}
.button-remove-smallImg {
  width: 150px;
  height: 50px;
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
}

.lightbox-container img {
  width: 600px;
  height: 500px;
}

.close-button-lightbox,
.next-button,
.prev-button {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 1001;
}
.close-button-lightbox {
  top: 20px;
  right: -20px;
  font-size: 20px;
}
.next-button {
  top: 50%;
  right: -55px;
  font-size: 20px;
}
.prev-button {
  top: 50%;
  left: -55px;
  font-size: 20px;
}
.close-button-lightbox:hover,
.next-button:hover,
.prev-button:hover {
  background: rgba(0, 0, 0, 0.8);
}
